@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary: var(--color-primary);
  --color-bg: var(--color-bg);
  --color-accent: var(--color-accent);
  --color-slate: var(--color-slate);
  --color-success: var(--color-success);
}

:root {
  --color-primary: #2B325A;
  --color-bg: #F8F9FA;
  --color-accent: #3B82F6;
  --color-slate: #4B5563;
  --color-success: #4CAF50;
}

body {
  background-color: var(--color-bg);
  color: var(--color-slate);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  font-weight: 700;
}