/* app/globals.css */
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  --color-primary: var(--color-primary);
  --color-bg: var(--color-bg);
  --color-accent: var(--color-accent);
  --color-slate: var(--color-slate);
  --color-success: var(--color-success);
}

:root {
  --color-primary: #2b325a;
  --color-bg: #f8f9fa;
  --color-accent: #3b82f6;
  --color-slate: #4b5563;
  --color-success: #4caf50;
}

body {
  background-color: var(--color-bg);
  color: var(--color-slate);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-primary);
    font-weight: 700;
  }
}
